<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header Navbar partial -->
  <%- include ../partials/header %>

  <!-- Body partial -->
  <div id='main'>
    <!-- carousel partial -->
    <%- include ../partials/carousel %>

    <!-- menu partial -->
    <%- include ../partials/menu %>

  </div>

  <!-- Footer partial -->
  <%- include ../partials/footer %>

</body>
</html>
