<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>

  <!-- Header Navbar partial -->
  <%- include ../partials/header %>

  <!-- carousel partial -->
  <%- include ../partials/carousel %>

  <div id="servicepartials">
  <!-- stickymenu partial -->
  <%- include ../partials/services/stickymenu %>

  <!-- stickymenu partial -->
  <%- include ../partials/services/backtotop %>

  <!-- cut partial -->
  <%- include ../partials/services/cut %>

  <!-- color partial -->
  <%- include ../partials/services/color %>

  <!-- treatment partial -->
  <%- include ../partials/services/treatment %>

  <!-- special partial -->
  <%- include ../partials/services/special %>
  </div>

  <!-- Footer partial -->
  <%- include ../partials/footer %>

</body>
</html>
